@{
    ViewBag.Title = "Actions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Notifications</div>

            <!-- Table -->
            <table id="myTable" class="table" border="1" >
                <tr>
                    <th>Company name</th>
                    <th>Type</th>
                    <th>Date requested</th>
                    <th>Expiry date</th>
                    <th>Message</th>
                    <th scope="col" colspan="2" >Action</th>
                </tr>

                <tr>
                    <td>Microsoft</td>
                    <td>View transcript</td>
                    <td>10/05/2020</td>
                    <td style="color:orange">10/06/2020</td>
                    <td>Give me all your data or i hack u</td>
                    <td style="color:blue">Accept</td>
                    <td style="color:red">Decline</td>
                </tr>

                <tr>
                    <td>Facebook</td>
                    <td>View transcript</td>
                    <td>10/05/2020</td>
                    <td style="color:orange">20/05/2020</td>
                    <td>Zucc has sent you a friend request</td>
                    <td  style="color:blue">Accept</td>
                    <td style="color:red">Decline</td>
                </tr>

            </table>
          
        </div>
</body>
</html>
