@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Transcript Repository System</h1>
    <p class="lead">TRS is a repositiory system that can be used to supply orginzations with offical transcript details for given students</p>
    <p><a href='@Url.Action("About", "Home")' class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div class="row">
    <div class="col-sm-6 col-md-4" >
        <div class="thumbnail"  style="min-height:250px;">
            <h2>For students</h2>
            <p>
                TRS provides students with a means of viewing and sharing their official transcripts with would be employers.
                With student discretion at the head of our privacy policy we ensure that transcripts are never made public to
                any organization unless the student has given explicit consent for the organization to access it.
            </p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail"  style="min-height:250px;">
            <h2>For schools</h2>
            <p>
                With TRS, schools can easily distribute transcripts to all those set to graduate within a specific
                cohoort as well as manage and flag any potential issues relating to falsified transcripts.
            </p>
        </div>
    </div>

    <div class="col-md-4" >
        <div class="thumbnail" style="min-height:250px;">
            <h2>For employers</h2>
            <p>
                HR employees and recruiters can now rest assured knowing that all transcripts
                that are provided on our site are verified by their academic institutions, allowing
                employers an addition degree of certainty when making decisions based on a graduate’s transcript.
            </p>
        </div>
    </div>
</div>