################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project/Transcript_Repository/.vs/Transcript_Repository/v16
/Project/Transcript_Repository/.vs/Transcript_Repository/config
/Project/Transcript_Repository/TRS_Database
