@{
    ViewData["Title"] = "Account Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <div>
        <div class="col-md-2">
            Name:
            User Type:
            Status:
        </div>

        <div class="col-md-2">
            Sam Simpson
            Instructor
            Private
        </div>
    </div>
</body>
</html>
